div {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #160e5a;
}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie {
  border: 1px solid #2e0404;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #b81919;
  width: 150px;
}
